@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .container {
    width: 720px;
  }
  .layout-sidebar-second .block .block-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* Navigation */
  .navigation nav > ul > li {
    display: block;
    float: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    /* padding-left: 10px; */
  }
  .navigation nav > ul > li:first-child a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
  }
  /*.navigation nav > ul > li:last-child a {
        border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
    }*/
  .navigation .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .navigation nav ul > li ul.dropdown-menu a {
    padding-left: 40px;
  }
  .section-header .logo {
    text-align: center;
  }
  .header-right {
    text-align: center;
  }
  .navigation-wrapper {
    position: relative;
    padding: 0 15px;
  }
  .navigation nav> ul {
    display: none;
  }
  .navigation .dropdown-menu .dropdown-menu {
    top: 0;
    left: 0;
    border-left: none;
}
#mainmenu>li:nth-child(2) .dropdown-menu .dropdown-menu{
    top: 90px;
    left: -20px;
    border: none;
    box-shadow: none;
}
#mainmenu>li:nth-child(2)>.dropdown-menu>li:not(:first-child){
    top: -179px;
}
#mainmenu>li:nth-child(4) .dropdown-menu .dropdown-menu {
    left: -20px;
    top: 0;
    border: none;
    box-shadow: none;
}
.navigation .dropdown-menu .dropdown-menu>li>a.is-active {
  background: transparent;
}

  /*add by spp 20200105
  *begin
  */

  /* 首页 */
  #views_slideshow_controls_text_carousel-block_1 {
    /* display: block; */
    text-align: center;
  }
  #views_slideshow_controls_text_carousel-block_1 span {
    display: inline-block;
    width: 45px;
  }
  .navigation {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
  }

  .navigation .logo {
    background-size: 75%;
    background-origin: content-box;
  }

  .header-right .form-type-search {
    padding-right: 7px;
  }

  .shx-menu {
    width: 100%;
  }
  .shx-menu-inner {
    position: absolute;
    width: calc(100% + 30px);
    background: #1782d0;
    top: 53px;
    left: -25px;
    opacity: 0.98;
  }
  .layout-container>.container {
    margin-top: 50px;
    width: 100%;
  }
  .logo {
    height: 110px;
  }
  .header-right {
    margin-top: -45px;
  }
  #block-user ul.nav {
    display: block;
    position: absolute;
    top: -84px;
    left: calc(100% - 100px);
    width: 100px;
  }
  #block-user ul.nav li{
    border-top: 0;
  }
  .header-right nav> ul li {
    padding: 0 8px;
  }
  .header-right nav > ul li:last-child {
    padding-right: 8px;
  }
  .view-carousel .views_slideshow_main {
    width: 100%;
    margin: 0;
    float: left;
  }
  .view-carousel .views-slideshow-controls-bottom {
    display: none;
  }
  .index_adv{
    background-size: 100% auto!important;
    width: 100%!important;
    height: 90px;
    left: 0!important; 
    top: 0!important;   
  }
  .event-text {
    width: 100%!important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
  }
  #front-video p {
    width: 100%!important;
    height: auto!important;
    padding: 0 15px;
  }
  #front-video p video{
    width: 100%!important;
    height: auto!important;
  }
  #block-yejiao > div.content > div > table {
    margin-left: 0 !important;
  }

  .quicktabs-tabpage .customrow > div {
    width: 100%!important;
  }
  .quicktabs-tabpage .customrow > div:first-child {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
  }

  /* 推荐电影 */
  #views-exposed-form-recommend-film-view-page-1 .form-group,
  #views-exposed-form-recommend-film-view-page-2 .form-group {
    display: inline-block;
  }
  .common-film-view .form-select, .recommend-film-view .form-select {
    padding-left:0
  }
  .layout--twocol > .layout__region {
    flex: 0 1 50%;
  }
  .recommandrow >.layout--twocol >.layout__region--second {
    position: relative;
    width: 50%;
    margin-left: 0;
  }

  /* 页脚 */
  #block-yejiao table tbody>tr td:nth-child(2) {
    position: relative;
    left: -245px;
    top: 45px;
    /* border-top: 1px solid #1782d0; */
  }
  #block-yejiao table tbody>tr:nth-child(2) td {
    padding-bottom: 10px;
    border-bottom: 1px solid #1782d0;
  }
  /* end */
  /**  .section-footer **/
  .copyright-links nav {
    float: none;
    padding-top: 12px;
    text-align: left;
  }
  .copyright-section {
    text-align: left;
    font-weight: 600;
  }
  .row {
    margin: 0;
  }
  .header-right .block {
    width: 60%;
  }
  .copyright-section,
  .copyright-links,
  .copyright-links nav ul li:first-child {
    padding-left: 0;
  }
/*************** comment *********************/
  .comment-content-pull {
    margin-left: 0;
  }
  .comment-content {
    margin-left: 0;
  }
  .comment-content-pull:after,
  .comment-content-pull:before {
    bottom: 100%;
    left: 22%;
    top: -13px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .comment-content-pull:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
  }
  .comment-content-pull:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #eeeeee;
    border-width: 15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 550px) {
  .header-right .block {
    width: 100%;
  }
  .header-right,
  .block,
  .header-right nav {
    padding: 0px 0 0 0;
  }
  .header-right nav {
    padding-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px;
  }
}
