/*
 * Place your custom styles here.
 */


/*-------------------------------------------------------
 [Table of contents]

 1. Header
 + logo
 + search

 2. Navigation
 + Main Menu

 3. Content Top
 + Slideshow

 4. Content
 + Site Content

 5. Footer
 + Footer One
 + Footer Two
 + Footer Three
 + Copyright

 5. custom
 --------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

body,
p,
div,
li,
label,
span,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
}

a {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.1rem;
}

h3,
.block-title,
.footer h2 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 0.9rem;
}

legend {
    border-bottom: none;
}


/**************************** DEFAULT **********************************/


/* general */

label {
    display: block;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eee;
    font-size: 13px;
    color: #666;
}

blockquote p {
    margin-bottom: 0;
    font-size: 13px;
    color: #666;
}

.radio label {
    padding-left: 22px;
}


/* lists */

ul {
    padding: 0;
    margin: 0 0 9px 0;
}

ol {
    padding: 0;
    margin: 0 0 9px 15px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
    margin-left: 20px;
}

li {
    line-height: 25px;
}

ul li {
    list-style: none;
}

a {
    color: #1782d0;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 32px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border-radius: 3px;
    vertical-align: middle;
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    color: #666;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}

textarea {
    height: auto;
}

.well {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}


/*------------------------- HEADER SECTION -------------------------------*/

.section-header,
.footer,
.navigation-wrapper,
.content-top,
.content-top {
    margin: 0;
    padding: 0;
}

.navigation-wrapper+div {
    clear: both;
}
.navigation-wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.section-header {
    padding-top: 20px;
    padding-bottom: 15px;
    background: #ffffff;
}


/* .section-header .logo img {
  max-height: 60px;
} */

.navigation .logo {
    float: left;
    background-image: url("../images/newicon0731.png");
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-right: 0px;
    margin-top: 20px;
    background-size: contain;
    cursor: pointer;
}

.shx-menu {
    width: 950px;
    position: relative;
}

.shx-menu-inner {
    position: relative;
    z-index: 99;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 51px;
    float: right;
}

.container {
    max-width: 940px;
    flex: 1;
}
.layout-container>.container {
  margin-top: 140px;
}

img {
    max-width: 100%;
    height: auto;
}

.header-right {
    text-align: right;
    padding-top: 20px;
}

.header-right nav {
    padding-top: 46px;
}

.header-right .block input {
    width: 100%;
}

.header-right .block .form-search {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 0;
}

.header-right #search-block-form {
    position: relative;
    display: block;
    float: right;
    width: 85%;
}

.header-right .block #search-block-form .form-actions {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal;
}

#block-movietheme-branding a {
    font-size: 20px;
    margin-right: 10px;
}

.header-right nav>ul li {
    display: inline-block;
    padding: 0 8px;
    border-left: solid 1px #dddddd;
    line-height: 12px;
}

.header-right nav>ul li:first-child {
    border-left: none;
}

.header-right nav>ul li:last-child {
    padding-right: 0;
}


/********************* NAVIGATION  **********************/

.navigation {
    background-image: url("../images/new_background.png");
    border-top: none;
    margin-bottom: 10px;
    float: left;
    height: 130px;
    width: 100%;
}

.navigation nav ul {
    margin: 0;
    padding: 0;
}

.navigation nav>ul>li {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

.navigation nav ul>li>a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 0;
    border:none;
}

.navigation nav ul>li ul.dropdown-menu a {
    color: #333;
    font-size: 13px;
    padding: 5px 0;
}

.navigation nav ul>li ul.dropdown-menu a:hover,
.navigation nav ul>li ul.dropdown-menu a:focus {
    color: #e54e4b;
    background: #eee;
}

.navigation nav ul>li ul.dropdown-menu a:is-active {
    background: #eee;
    color: #fff;
}

.navigation nav ul>li>a:not(.is-active):hover,
.navigation nav ul>li>a:active,
.navigation nav ul>li>a:focus {
    color: #e54e4b;
    background: #fff;
    border:none;
}

.navigation nav ul>li>a.is-active {
    color: #fff;
    background: #e54e4b;
}

.navigation .dropdown-menu {
    background: #fff;
    min-width: 160px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #e65855;
    border-top: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-clip: padding-box;
}
/* 二级菜单 */
.navigation .dropdown-menu .dropdown {
    list-style-type: disc;
    margin-left: 20px;
}

/* 三级菜单 */
.navigation .dropdown-menu .dropdown-menu {
    top: -5px;
    left: 137px;
    border-left: 1px dashed rgba(0, 0, 0, 0.2);
}
.navigation .dropdown-menu .dropdown-menu>li>a.is-active {
  background: #fff;
}

.menu-linebar {
    display: block;
    background: #fff;
    height: 3px;
    margin-bottom: 3px;
    width: 20px;
}
#mainmenu>li:nth-child(2) .dropdown-menu,
#mainmenu>li:nth-child(4) .dropdown-menu {
  min-width: 130px;
}
#mainmenu>li:nth-child(2) .dropdown-menu .dropdown-menu,
#mainmenu>li:nth-child(4) .dropdown-menu .dropdown-menu {
  left: 107px;
}
#mainmenu>li:nth-child(2) .dropdown-menu li:not(:first-child),
#mainmenu>li:nth-child(2) .dropdown-menu .dropdown-menu li:not(:first-child),
#mainmenu>li:nth-child(4) .dropdown-menu .dropdown-menu li {
    list-style: circle;
    margin-left: 30px;
}
#mainmenu>li:last-child .dropdown-menu {
  min-width: 120px;
  left: -40px;
}
#mainmenu>li:last-child .dropdown-menu .dropdown-menu {
  left: 97px;
  min-width: 120px;
}
#mainmenu>li:last-child .dropdown-menu .dropdown-menu li {
  list-style: circle;
}


/************************** MESSAGE BOX *************************/

.message-box {
    margin-bottom: 15px;
    background: rgb(247, 247, 247) none repeat scroll 0% 0%;
    border: 1px solid rgb(234, 234, 234);
    padding: 12px 15px;
    font-weight: 600;
}

.feed-icon {
    display: none;
}


/************************ Main ************************/

main {
    clear: both;
}

.block-title {
    margin: 30px 0 20px;
}


/************************ SIDEBAR RIGHT ************************/


/* valentin removed this css
.layout-sidebar-second .block .block-title {}
/************************* CONTENT BOTTOM *********************/

.content-bottom {
    clear: both;
    padding: 10px 0;
}


/* valentin removed this css
.content-bottom .block .block-title {}
*/

.content-bottom .block .content .glyphicon {
    font-size: 45px;
    height: 90px;
    float: left;
    width: 55px;
    padding-top: 10px;
}

.content-bottom .block .content p:last-child {
    clear: both;
}

.content-bottom .block .content .glyphicon-chevron-right {
    font-size: 13px;
    width: auto;
    height: auto;
    float: none;
    padding-top: 0;
}

.btn .glyphicon-chevron-right {
    max-width: 18px;
}

.breadcrumb {
    clear: both;
    margin-left: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}


/********************* FOOTER ****************************/

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f7f7f7;
    padding-bottom: 15px;
    border: none !important;
}

.footer h2 {
    line-height: 23px;
    padding-bottom: 5px;
    margin: 5px 0px 15px 0px;
    border-bottom: 1px solid #ccc;
}

.section-footer {
    border-top: solid 3px #1782d0;
    overflow: hidden;
}

.section-footer>.row>[class*="col-md"]>div {
    padding: 19px 26px;
}

.footer ul.nav>li>a {
    background: transparent;
    padding: 0;
}

.footer ul.nav>li>a:hover,
.footer ul.nav>li>a:focus,
.footer ul.nav>li>a:active {
    background: transparent;
}

article ul.contextual-links li:before,
.layout-sidebar-second .block ul.contextual-links li:before,
.layout-sidebar-first .block ul.contextual-links li:before {
    font-family: 'Open Sans', sans-serif;
}

.copyright_info {
    clear: both;
    padding: 13px 0;
    overflow: hidden;
}

.copyright-links nav {
    float: right;
}

.copyright-links nav ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 5px;
    border-right: solid 1px #dddddd;
    line-height: 10px;
}

.copyright-links nav ul li:last-child {
    border: none;
    padding-right: 0;
}

#user-login-form [type="text"],
#user-login-form [type="password"] {
    width: 50%;
}

.user-login-form .form-item-name::before {
    content: "\e008";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    width: 30px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
    position: relative;
    z-index: 2;
    background: #ccc;
}

.user-login-form .form-item-pass::before {
    content: "\e033";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    float: left;
    width: 30px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
    position: relative;
    z-index: 2;
    background: #ccc;
}

.user-login-form .form-actions .button {
    display: inline-block;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2184cd;
    border-color: rgba(0, 0, 0, 0.3);
    background-image: none;
    width: auto;
    font-weight: bold;
}

#block-userlogin .content ul {
    padding-top: 10px;
}

#block-userlogin .content ul li {
    line-height: normal;
}


/**************************** NODES ***************************/

.layout-content {
    margin-top: 15px;
}

.content {
    clear: both;
}

.node-content section {
    margin-top: 15px;
}

.node-content .list-inline {
    margin-left: 0;
}

.view-content .views-row {
    margin-bottom: 15px;
}

.view-content .views-row article footer {
    margin-bottom: 10px;
    color: #999;
}

.view-content .views-row:last-of-type {
    margin-bottom: 0;
}

.view-content .views-row .page-header {
    margin-top: 50px;
}

.view-content .views-row:first-of-type .page-header {
    margin-top: 0;
}

.node-content p:last-of-type {
    margin-bottom: 10px;
}

.pagination {
    display: block;
    margin: 40px 0 0;
}

.pager li>a,
.pager li>span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.ost-node-images {
    margin-bottom: 15px;
}


/**************************** COMMENT ***************************/

.node-content section {
    margin-top: 15px;
}

.node-content section>h2 {
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: solid 1px #eeeeee;
}

.comment-content h3 {
    font-weight: 600;
    margin-top: 0;
}

.node-content section[rel="schema:comment"] {
    margin-top: 45px;
}

.comment-content .list-inline:last-of-type {
    margin-bottom: 0;
}

section .indented {
    margin-left: 5%;
    clear: both;
    overflow: hidden;
}

.comment-author-info span {
    display: block;
    text-align: center;
}

.comment-author-info span.comment-author {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
}

.comment-author-info article {
    text-align: center;
}

.comment-author-info {
    float: left;
    width: 150px;
    position: relative;
    padding-right: 20px;
}

.comment-content {
    float: left;
    width: 100%;
    margin-left: -150px;
    padding-bottom: 20px;
}

.comment-content-pull {
    position: relative;
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 10px 15px;
    margin-left: 150px;
}

.comment-content-pull:after,
.comment-content-pull:before {
    right: 100%;
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.comment-content-pull:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 15px;
    margin-top: -15px;
}

.comment-content-pull:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #eeeeee;
    border-width: 16px;
    margin-top: -16px;
}

.comment-content-pull .links.inline .comment-delete:before,
.comment-content-pull .links.inline .comment-edit:before,
.comment-content-pull .links.inline .comment-reply:before,
.links.inline .comment-forbidden:before,
.links.inline .comment-add:before {
    margin-right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
}

.comment-content-pull .links.inline .comment-delete:before {
    content: "\e088";
}

.comment-content-pull .links.inline .comment-edit:before {
    content: "\e065";
}

.comment-content-pull .links.inline .comment-reply:before {
    content: "\e095";
}

.links.inline .comment-forbidden:before {
    content: "\e008";
}

.links.inline .comment-add:before {
    content: "\270f";
}


/******************************* TAGS *******************************/

.field--name-field-tags {
    margin-bottom: 15px;
}

.field--name-field-tags .field--label,
.field--name-field-tags .field__items {
    display: inline-block;
}

.field--name-field-tags .field--label {
    margin-right: 5px;
}

.field--name-field-tags .field__items .field--item {
    display: inline-block;
    margin-right: 5px;
}

.field--name-field-tags .field__items .field--item>a {
    background-color: #1782d0;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.field--name-field-tags .field__items .field--item>a:hover,
.field--name-field-tags .field__items .field--item>a:focus,
.field--name-field-tags .field__items .field--item>a:active {
    background-color: #286090;
}


/******************************* BUTTON DESIGN *******************************/

.links.inline li {
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
}

.links.inline li:first-child {
    padding-left: 0;
}

.links.inline li:last-child {
    padding-right: 0;
}

.links.inline li:before {
    font-size: 10px;
}

.btn,
.button,
.more-link,
#submit,
.comment-reply-link,
li.node-readmore>a {
    padding: 6px 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    *background-color: #e6e6e6;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    border: 1px solid #bbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
}

.more-link:hover,
.more-link:focus,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
#submit:hover,
#submit:focus,
#submit:active,
.comment-reply-link:hover,
.comment-reply-link:focus,
.comment-reply-link:active,
li.node-readmore>a:hover,
li.node-readmore>a:focus,
li.node-readmore>a:active {
    color: #333;
    background: #e6e6e6;
    text-decoration: none;
}

.btn:active,
.btn.active,
.more-link:active,
#submit:active,
.comment-reply-link:active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover,
.btn:focus,
.more-link:hover,
.more-link:focus,
#submit:hover,
#submit:focus,
.comment-reply-link:hover,
.comment-reply-link:focus {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 11px 19px;
    font-size: 16.25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
    margin-top: 4px;
}

.btn-small {
    padding: 2px 10px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
    margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
    margin-top: -1px;
}

.btn-mini {
    padding: 0 6px;
    font-size: 9.75px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2184cd;
    /* border-color: rgba(0, 0, 0, 0.3); */
    border-color: #2184cd;
    *background-color: #2184cd;
    background-image: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #fff;
    background-color: #666;
    *background-color: #666;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #003399 \9;
}

.btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    *background-color: #f89406;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    color: #fff;
    background-color: #f89406;
    *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
    background-color: #c67605 \9;
}

.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    *background-color: #bd362f;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
    background-color: #942a25 \9;
}

.btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    *background-color: #51a351;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #fff;
    background-color: #51a351;
    *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
    background-color: #408140 \9;
}

.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    *background-color: #2f96b4;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
    background-color: #24748c \9;
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
    background-image: -webkit-linear-gradient(top, #444, #222);
    background-image: -o-linear-gradient(top, #444, #222);
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222 #222 #000000;
    *background-color: #222;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #fff;
    background-color: #222;
    *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
    background-color: #090909 \9;
}

button.btn,
input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #08c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
    color: #333;
    text-decoration: none;
}

.btn-group {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: .3em;
}

.btn-group:first-child {
    *margin-left: 0;
}

.btn-group+.btn-group {
    margin-left: 5px;
}

.btn-toolbar {
    font-size: 0;
    margin-top: 9px;
    margin-bottom: 9px;
}

.btn-toolbar>.btn+.btn,
.btn-toolbar>.btn-group+.btn,
.btn-toolbar>.btn+.btn-group {
    margin-left: 5px;
}

.btn-group>.btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group>.btn+.btn {
    margin-left: -1px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 13px;
}

.btn-group>.btn-mini {
    font-size: 9.75px;
}

.btn-group>.btn-small {
    font-size: 13px;
}

.btn-group>.btn-large {
    font-size: 16.25px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group>.btn.large:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group>.btn.large:last-child,
.btn-group>.large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group>.btn:hover,
.btn-group>.btn:focus,
.btn-group>.btn:active,
.btn-group>.btn.active {
    z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}

.btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    *padding-top: 5px;
    *padding-bottom: 5px;
}

.btn-group>.btn-mini+.dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
    *padding-top: 2px;
    *padding-bottom: 2px;
}

.btn-group>.btn-small+.dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
}

.btn-group>.btn-large+.dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
    *padding-top: 7px;
    *padding-bottom: 7px;
}

.btn-group.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222;
}

.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}

.btn-large .caret {
    margin-top: 6px;
}

.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}

.btn-mini .caret,
.btn-small .caret {
    margin-top: 8px;
}

.dropup .btn-large .caret {
    border-bottom-width: 5px;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.btn-group-vertical {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.btn-group-vertical>.btn {
    display: block;
    float: none;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group-vertical>.btn+.btn {
    margin-left: 0;
    margin-top: -1px;
}

.btn-group-vertical>.btn:first-child {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.btn-group-vertical>.btn:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.btn-group-vertical>.btn-large:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.btn-group-vertical>.btn-large:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}


/************************* PRIMARY TABS ********************************/


/************************* SECONDARY TABS ********************************/

.nav-tabs>li>a.is-active,
.nav-tabs>li>a.is-active:hover,
.nav-tabs>li>a.is-active:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs {
    margin: 15px 0;
}

a.tabledrag-handle,
.handle {
    height: 24px;
    width: 24px;
}


/* require added, region-header is it needed? */

.region-header,
.form-required:after {
    background-image: url(../images/required.svg);
}


/* re write div line being pulled in from bootstrap */

.page-header {
    margin: 2px 0px 15px 0px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
}

h1.page-header {
    margin-bottom: 30px;
}

.header-right nav>ul li {
    display: inline-block;
    padding: 0 8px;
    border-left: solid 1px #2498d5;
    line-height: 12px;
}


/* style comment and content lists */

.item-list ul li {
    line-height: 1.8rem;
    margin-bottom: 8px;
}

.item-list ul li span.field-content {
    display: block;
}

.item-list ul li span.field-content a:before,
.footer ul.nav>li>a:before {
    content: "\e080";
    margin-right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
}

.item-list ul li .views-field-changed>.field-content,
.item-list .views-field-field-event-date time {
    margin-left: 15px;
}


/* override stacked menus  */

.nav-stacked>li>a {
    background: rgba(0, 0, 0, 0.5);
}


/* add to any tweaks  */

.addtoany_list {
    display: block;
    margin-bottom: 10px;
}

.addtoany_list.a2a_kit_size_32>a:first-of-type {
    padding-left: 0;
}


/* forum improvements */

li.action-links {
    list-style: none;
}

li.action-links+table {
    margin-top: 20px;
}


/* poll improvements */

.poll legend {
    margin-bottom: 0;
}


/* drupal suite improvements */

.ds-3col-stacked>.group-middle,
.ds-3col-stacked>.group-right,
.ds-2col-stacked>.group-right {
    padding-left: 20px;
}

.ds-3col-stacked>.group-left {
    width: 40%;
}

.ds-3col-stacked>.group-middle {
    width: 35%;
}

[class*="ds-"] [class*="group-"] .field--name-field-image {
    margin-bottom: 15px;
}


/*add by spp 20191227
*begin
*/


/* 轮播图 */

#views_slideshow_controls_text_carousel-block_1 {
    display: none;
}

.view-carousel .views_slideshow_main {
    width: 70%;
    margin: 0;
    float: left;
}

.view-carousel .views_slideshow_main>div,
.view-carousel .views_slideshow_main>div>div,
.view-carousel .views_slideshow_main>div>div img {
    width: 100%!important;
}

.view-carousel .views-slideshow-controls-bottom {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0;
}

.view-carousel .views-slideshow-controls-bottom .views-field-title {
    position: relative;
    border-bottom: 1px solid gray;
    background-color: #ffc529;
    background-size: 100% 100%;
    height: 52.8px;
    padding: 8px;
    width: 100%;
    border-left: 1px solid #ffc529;
    float: left;
}

.view-carousel .views-slideshow-controls-bottom .views-field-title a {
    font-size: 14px;
    color: #333;
}

.view-carousel .views-slideshow-controls-bottom .active .views-field-title {
    z-index: 9;
    background-color: transparent;
    background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    border-left: 0;
    border-bottom: 0px;
    margin-left: -14px;
    padding-left: 22px;
    width: calc(100% + 14px);
}

.view-carousel .views-slideshow-controls-bottom .active+div .views-field-title {
    border-top: 1px solid gray;
}

.view-carousel .views-slideshow-controls-bottom .active .views-field-title a,
.view-carousel .views-slideshow-controls-bottom .views-field-title a:hover {
    color: #fff;
}


/* 育人研究侧边栏 */

#block-yurenyanjiu-menu .nav li.expanded {
    list-style-image: url("../images/menu-leaf.png");
    list-style-type: square;
}

#block-yurenyanjiu-menu .nav .expanded a:hover,
#block-yurenyanjiu-menu .nav .expanded a.is-active {
    background: transparent;
}


/* 用户登录 */

#block-movietheme-user ul.nav {
    position: absolute;
    width: 155px;
    top: 0;
    left: 270px;
}


/* 表单 */

.ui-datepicker {
    z-index: 9!important;
}


/* 推荐电影详情下边栏 */

.tuijian_bottom .quickedit-field {
    display: table;
}


/* 
end 
*/


/*add by lxj 
*begin
*/


/* 20191227<front>/recommendfilm推荐电影页 */

.recommend-film-view .form-item,
.common-film-view .form-item {
    float: none!important;
    display: block!important;
    padding: 2px;
}

.recommend-film-view .form-item>.control-label,
.common-film-view .form-item>.control-label {
    display: inline;
    float: left;
    width: 80px;
    font-size: 14px;
    padding: 3px;
    height: 30px;
    font-family: '黑体';
}

.recommend-film-view .form-item>.form-select>div,
.common-film-view .form-item>.form-select>div {
    margin: 4px;
}
.recommend-film-view .form-item>.form-select ul,
.common-film-view .form-item>.form-select ul {
    margin: 0;
}
.recommend-film-view .form-item>.form-select li,
.common-film-view .form-item>.form-select li {   
    display: inline-block;
    line-height: 20px;
    margin: 4px;
}

#edit-sort-by ul {
    text-align: right;
}
.recommend-film-view .form-item>.form-select a,
.common-film-view .form-item>.form-select a {
    color: black;
    font-size: 12px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
}


.recommend-film-view .form-item>.form-select>div>a.bef-link-active,
.common-film-view .form-item>.form-select>div>a.bef-link-active,.recommend-film-view .form-item>.form-select>ul>li>a.bef-link--selected,
.common-film-view .form-item>.form-select>ul>li>a.bef-link--selected {
    border-radius: 5px;
    background-color: orange;
    color: white!important;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.js-form-item-sort-by {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right !important;
    font-size: 14px;
    text-align: right;
}

#edit-sort-by>div>a {
    background-color: #cecece;
    color: white;
    font-size: 12px;
}

#edit-sort-by>div {
    min-width: 80px;
    padding: 6px!important;
    background-color: #cecece!important;
    border-radius: 8px;
    text-align: center;
    float: right;
}

.js-form-item-sort-by>label {
    display: none!important;
}

.form-item-field-type-target-id {
    padding-top: 30px;
    border-top: 2px solid orange;
}

.js-form-item-field-theme-target-id {
    padding-bottom: 15px;
    border-bottom: 1px solid orange;
}

/* #edit-sort-by {
    margin-bottom: 15px;
} */

@media screen and (min-width: 40em) {
    .recommandrow>.layout--twocol>.layout__region--first,
    .recommandrow>.layout--twocol>.layout__region--second {
        flex: 0 1 auto;
    }
}

.recommandrow>.layout--twocol>.layout__region--second {
    width: 82%;
    margin-left: 30px;
}

.page-header {
    border-bottom: 0;
}

.layout-content {}

.recommend-film-view #edit-field-keyword-target-id {
    display: none;
}

/* .common-film-view .form-select,
.recommend-film-view .form-select {
    padding-left: 80px;
} */

.common-film-view #edit-actions,
.recommend-film-view #edit-actions {
    display: none;
}


/*首页最近更新区块*/

.customcol>div>div>div.field--name-field-detail>p {
    padding-top: 22px;
    font-size: 12px;
    line-height: 2em;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #656464;
    padding-right: 16px;
    padding-left: 6px;
}

.customcol>div>div>div.field--name-field-title {
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.customcol .sale {
  width: 50%;
  float: left;
}

.customcol .sale-title {
  width: 50%;
  float: left;
  color: grey;
  font-family: 黑体;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.customcol .sale-detail {
  width: 50%;
  float: left;
  padding-top: 22px;
  font-size: 12px;
  line-height: 2em;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #656464;
  padding-right: 16px;
  padding-left: 6px;
}



/* 首页视频 */
#front-video {
    padding-top: 10px;
}

.index_choose_film {
    position: relative;
    width: 100%;
    margin-bottom: 6%;
    border: 2px dashed #56c3ab;
    top: -20px;
}

/* 首页右侧区块 */
.more-link {
    position: absolute;
    top: -55px;
    right: 0;
    border: none;
    background: none;
    font-size: 10px;
}
.more-link a {
    color: #000;
}
.more-link:hover {
  background-color: #fff;
}
.views-field-field-huodonglianjie{
   background-color: #ff5757;
}
.views-field-field-huodonglianjie a{
  color: #fff;
}
#block-movietheme-views-block-active .table-bordered {
  border:none;
  border-bottom: 1px solid #ddd;
}
#block-movietheme-views-block-active .table-bordered > thead > tr > th, 
#block-movietheme-views-block-active .table-bordered > tbody > tr > th, 
#block-movietheme-views-block-active .table-bordered > tfoot > tr > th, 
#block-movietheme-views-block-active .table-bordered > thead > tr > td, 
#block-movietheme-views-block-active .table-bordered > tbody > tr > td, 
#block-movietheme-views-block-active .table-bordered > tfoot > tr > td {
  border: none;
  border-top: 1px solid #ddd;
}


/*页脚*/

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none !important;
    background: none;
}

.section-footer {
    width: 100%!important;
    /* position:absolute; */
    /* left:0; */
    background-color: #175782;
    /* bottom: 0; */
}

#block-yejiao {
    text-align: center;
}

#block-yejiao>div.content>div>table {
    margin-left: 440px !important;
    padding: 0;
}


/* 首页quicktab */

.customrow {
    width: 100%!important;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

/* #quicktabs-tabpage-dianyingzhanshi-2>div:nth-child(2)>div>div,
#quicktabs-tabpage-dianyingzhanshi-1>div:nth-child(2)>div>div,
#quicktabs-tabpage-dianyingzhanshi-0>div:nth-child(2)>div>div {
    padding: 25px;
    border: 1px solid #e2e2e2;
} */
.quicktabs-wrapper {
  border: 0.5px solid #c7c7c7;
  padding: 20px;
  position: relative;
  top: -40px;
  margin-bottom: 50px;
}

.quicktabs-tabs {
    font: bold 12px/170% Verdana;
    border-bottom: 1px solid #ccc;
    line-height: 22px;
    margin: 0 0 10px 0;
    margin-bottom: 20px;
}

#quicktabs-dianyingzhanshi>ul>li>a {
    text-decoration: none;
    color: #9c9c9c;
    font-size: 12px;
    padding-right: 30px;
    background: transparent url(../images/shu_arrows.gif) no-repeat center 19px;
    padding: 2px 10px 5px;
    transition: none;
    margin-left: 18px;
    /* font-weight:500; */
}

#quicktabs-dianyingzhanshi>ul>li>a:hover,
#quicktabs-dianyingzhanshi>ul>li.active>a{
    text-decoration: none;
    color: #464646;
    background-position: center bottom;
}
.container .pager .next > a, .container .pager .next > span,
.container .pager .previous > a, .container .pager .previous > span {
  color: #000;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.container .pager .next > a:hover,
.container .pager .previous > a:hover {
  background-color: #eee;
}


/*边栏标题的红色底*/

.layout-sidebar-first>div>div.block>h2.block-title {
    padding-bottom: 13px;
    background-image: url("../images/bg-title.png");
    /*   border-bottom:5px solid red; */
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 600px 5px;
}

#block-movietheme-xiaoyuanyuanxianfenbutu>h2 {
    background-size: 1050px 5px;
}

.layout-sidebar-first table>tbody>tr>td.views-field.views-field-title>a {
    color: #6d6d6d;
    font-size: 13px;
    line-height: 1.7em;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #656464;
    padding-right: 16px;
}

.layout-sidebar-first table>tbody>tr>td.views-field.views-field-title>a:hover {
    color: #000000;
}


/*推荐电影视图界面*/

.recommandrow .field--label {
    clear: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 60px;
    float: left;
    font-weight: 100;
    line-height: 2em;
}

.recommandrow .field--items {
    float: left;
    /*   float:left; */
}

.recommandrow .field--item {
    float: left;
}

.recommandrow .field--name-field-detail .field--item {
    display: block;
    float: left;
    width: 91%;
}

.recommandrow .field--name-field-detail .field--item>p {
    font-size: 12px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #656464;
    line-height: 2em;
    /*width: 100% !important;*/
}

.recommandrow .field--name-field-rating {
    position: absolute;
    right: 14px;
    top: 0;
    font-size: 12px;
}

.recommandrow .field--name-title {
    margin-bottom: 11px;
    font-size: 14px;
    margin-top: 8px;
    font-family: 黑体;
    color: black;
}

.recommandrow a {
    color: #656464;
}

.recommandrow a:hover {
    color: black;
}

.recommandrow .field--name-field-years a,
.recommandrow .field--name-field-actor a,
.recommandrow .field--name-field-director a {
    font-size: 12px;
    color: #656464;
    line-height: 2em;
}

.recommandrow .field--name-field-actor .field--item,
.recommandrow .field--name-field-director .field--item {
    margin-right: 10px !important;
}

.customrow .layout__region--second a {
    color: gray;
    font-family: 黑体;
    padding-right: 6px;
    padding-left: 6px;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/*详情页*/

.tuijian_head {
    width: 100%;
    border: 1px solid #d0d0d0;
    padding: 30px;
    min-height: 360px;
}

.tuijian_head .group-left {
    width: 40%;
    float: left;
    padding-right: 10px;
}

.tuijian_head .group-right {
    width: 60%;
    float: left;
}

.group-right .field {
    line-height: 2em;
}

.group-right .field--label-inline {
    float: left;
    width: 100%;
}

.group-right .field--label-inline .field--label,
.group-right .field--label-inline .field--item {
    float: left;
}

.group-right .field--label-inline .field--label {
    width: 100px;
}

.group-right .field .field--items {
    float: left;
    width: calc(100% - 100px);
}
#edit-quantity-wrapper label {
  display: inline-block;
  width: 97px;
}
#edit-quantity-wrapper input {
  width: 100px;
}

.group-right .field--item,
.group-right .field--label {
    font-family: 黑体;
    font-size: 14px;
    line-height: 2em;
}

.tuijian_detail {
    margin-top: 30px;
    border: 1px solid #d0d0d0;
    padding: 30px;
    margin-bottom: 30px;
}

.tuijian_detail .field--label {
    font-size: 18px;
    padding-bottom: 13px;
    background-image: url(../images/bg-title.png);
    /* border-bottom: 5px solid red; */
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 600px 5px;
    margin-bottom: 20px;
    font-family: 黑体;
}

.tuijian_detail p {
    font-family: 黑体;
    font-size: 14px;
    line-height: 1.6em;
}

.tuijian_bottom {
    /*margin-top:30px;*/
    border: 1px solid #d0d0d0;
    padding: 30px;
}

.tuijian_bottom .field--label,
.tuijian_bottom .field--item>p {
    font-family: 黑体;
}

.tuijian_bottom .field--item {
    /* left:0px !important; */
    display: table-cell;
}

.tuijian_bottom .field--label {
    display: table-cell;
    width: 125px;
    position: relative;
    left: 26px;
    font-weight: bold;
}

.tuijian_bottom .field--label:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 16px;
    border-left: 2px solid #AFABAB;
    position: relative;
    top: 2px;
    left: -5px;
}

.tuijian_bottom .field--label:after {
    content: '：';
}

.group-liyou {
    background-image: url(../images/tjly.PNG);
}

.group-zhidao {
    background-image: url(../images/gyzd.PNG);
}

.group-nianji {
    background-image: url(../images/gynj.PNG);
}

.group-xueke {
    background-image: url(../images/gyxk.PNG);
}

.group-jianyi {
    background-image: url(../images/hdjy.PNG);
}

.group-jiaoxue {
    background-image: url(../images/jxzy.PNG);
}

.group-jiaocai {
    background-image: url(../images/cxjc.PNG);
}

.tuijian_bottom>div {
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left 3px;
}

.tuijian_head a {
    color: gray;
}

.tuijian_head a:hover {
    color: black;
}

.tuijian_head .field--item:not(:last-child):after {
    content: ', ';
}

#edit-billing-information-profile-field-authorization-card--V_nxypNI3A8>div>label {
    width: auto;
}

#edit-billing-information-profile-field-shipping-method--TutCioZr0D8>div {
    padding: 0;
}

#edit-billing-information-profile-edit-button {
    visibility: hidden;
}


/*end*/

#haloword-lookup {
    display: none;
}

#edit-uid {
    width: 100px;
}

/* #edit-submit-order-item {
    margin-top: 20px;
} */

body>div.dialog-off-canvas-main-canvas>div>div.container>main>div>div>div>div>div.tuijian_head>div.group-left>div.field.field--name-field-poster.field--type-image.field--label-hidden.field--item.quickedit-field:after {
    content: "";
}

body>div.dialog-off-canvas-main-canvas>div>div.container>main>div>div>div>div>div.tuijian_head>div.group-left>div.field.field--name-field-poster.field--type-image.field--label-hidden.field--item.quickedit-field:after {
    content: "";
}


.view-id-solr #edit-actions{
    display:inline!important;

}
#views-exposed-form-solr-page-1 > div > div.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-search-api-fulltext.js-form-item-search-api-fulltext.form-no-label.form-group{
/*     float:left; */
    display:inline!important;
    position:relative;
    width:300px;
    margin-right:0;
}
.views-field-search-api-excerpt{
    width: 83%;
    float: right;
    padding-right: 10px;
    font-size: 14px;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;

}
.view-solr .views-field-title{

    width: 83%;
    float: right;
    font-size: 25px;
    padding-bottom: 35px;
    padding-top: 20px;
}
.js-facets-checkbox-links li{
    float:left;
    padding-right:10px;
}
.js-facets-checkbox-links li label{
    float:right;
    top:-2px;
    position:relative;
    padding-right:3px;
    padding-left:3px;
}

#block-yanyuanfacet .block-title,
#block-guanyingnianji .block-title,
#block-shiyixueke .block-title{
    display: inline;
    float: left;
    margin: 0;
    font-size: 12px;
    padding-top: 3px;
    padding-right: 10px;
    width: 60px;

}
#block-yanyuanfacet .content,
#block-guanyingnianji .content,
#block-shiyixueke .content{
    display:inline;
}
#block-yanyuanfacet,
#block-guanyingnianji,
#block-shiyixueke{
    /*margin-bottom: 40px;*/
    clear:both;
    position:relative;
    margin-top: 10px;
}
#block-shiyixueke{
    margin-bottom: 40px;
}

strong{
    color:#ff1100;
    font-weight:600;
}
.field-content a{
    color:#002400;
}
#edit-actions {
  margin-top: 20px;
}
#block-views-block-purchased-items-report-block-2 .content {
  text-align: center;
}
#block-views-block-purchased-items-report-block-2 .img-responsive {
  margin: 0 auto;
}
.order-total-line__subtotal,
#edit-billing-information-profile .js-form-item-billing-information-profile-copy-to-address-book {
  display: none;
}
main .layout-content.col-md-9 {
  padding: 0 50px 0 0;
}
main aside.col-md-3 {
  padding: 0;
  margin-left: -30px;
  width: calc(25% + 30px);
}
.latest-film .field--name-field-director,
.latest-film .field--name-field-actor,
.latest-film .field--name-field-detail .field--label{
  display: none;
}

.latest-film .field--name-field-detail .field--item p{
  padding-top: 22px;
    font-size: 12px;
    line-height: 2em;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #656464;
    padding-right: 16px;
    padding-left: 6px;
}
/*搜索框*/
.header-right #views-exposed-form-dianyingsousuo-page-3{
    position:relative;
    top:-45px;
    width:300px;
    left:-50px;

    
}
.header-right #edit-title{
    width:150px;
    height:25px;
    font-size:12px;
}
.header-right .control-label{
    display:none;
}
.header-right #edit-actions{
    margin-top:0;

}
.header-right #edit-actions button{
    height:25px;
    padding-top:3px;
    padding-left:8px;
    width:40px;
    font-size:12px;
    border-radius: 2px;
    font-weight: normal;
    background: #ff5757;
    text-shadow: none;
    color: white;
    border: 0;
}
.header-right #edit-actions button:hover{
    background:red;
}
.container #block-baoludebiaodandianyingsousuopage-3{
    margin-top:30px;
}
#edit-from,#edit-to {
  height: 40px;
}
#edit-from .form-item-from-month,#edit-to .form-item-to-month{
  position: absolute;
  left: 110px;
}
#edit-from .form-item-from-day,#edit-to .form-item-to-day {
  position: absolute;
  left: 200px;
}
#edit-from .form-item-from-year,#edit-to .form-item-to-year {
  position: absolute;
  left: 30px;
}
.tabs .nav li a[href$="address-book"],.tabs .nav li a[href$="shortcuts"],
li.tabs__tab a[href$="address-book"],li.tabs__tab a[href$="shortcuts"]{
  display: none;
}
.pager .pager__item {
  font-size: 14px;
}
.pager__item.pagerer-prefix>span {
  border: none;
}
.pager li.pager__item>a {
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  color: #333;
}
#views-exposed-form-tianjiadaojijin-page-1 .form-item-field-type-target-id{
  padding-top: 0;
  border-top: none;
}
#views-exposed-form-xianshizaituijianyingpianshouye-page-1 .js-form-item-field-theme-target-id {
  padding-bottom: 0;
  border-bottom: none;
}

.video-embed-field-responsive-video::after {
    padding-bottom: 0;
}

.field--label {
    font-weight: bold;
}