{#
  /**
   * @file
   * Default theme implementation to display a single page.
   *
   * The doctype, html, head and body tags are not in this template. Instead they
   * can be found in the html.html.twig template in this directory.
   *
   * Available variables:
   *
   * General utility variables:
   * - base_path: The base URL path of the Drupal installation. Will usually be
   *   "/" unless you have installed Drupal in a sub-directory.
   * - is_front: A flag indicating if the current page is the front page.
   * - logged_in: A flag indicating if the user is registered and signed in.
   * - is_admin: A flag indicating if the user has permission to access
   *   administration pages.
   *
   * Site identity:
   * - front_page: The URL of the front page. Use this instead of base_path when
   *   linking to the front page. This includes the language domain or prefix.
   *
   * Page content (in order of occurrence in the default page.html.twig):
   * - messages: Status and error messages. Should be displayed prominently.
   * - node: Fully loaded node, if there is an automatically-loaded node
   *   associated with the page and the node ID is the second argument in the
   *   page's path (e.g. node/12345 and node/12345/revisions, but not
   *   comment/reply/12345).
   *
   * Regions:
   * - page.header: Items for the header region.
   * - page.primary_menu: Items for the primary menu region.
   * - page.secondary_menu: Items for the secondary menu region.
   * - page.highlighted: Items for the highlighted content region.
   * - page.help: Dynamic help text, mostly for admin pages.
   * - page.content: The main content of the current page.
   * - page.sidebar_first: Items for the first sidebar.
   * - page.sidebar_second: Items for the second sidebar.
   * - page.footer: Items for the footer region.
   * - page.breadcrumb: Items for the breadcrumb region.
   *
   * @see template_preprocess_page()
   * @see html.html.twig
   *
   * @ingroup themeable
   */
  #}
<div class="layout-container">
	<div class="navigation-wrapper">
		<div class="navigation">
			<div class="container">
				{{ page.header}}
				{{ page.header_right }}
			</div>
		</div>
	</div>
	<div class="container">

		{% if page.highlighted %}
			{{ page.highlighted }}
		{% endif %}

		{% set sidebarClass = 'col-md-12' %}
		{% if page.sidebar_first %}
			{% set sidebarClass = 'col-md-9 col-sm-9' %}
		{% endif %}
		{% if page.sidebar_left %}
			{% set sidebarClass = 'col-md-9 col-sm-9' %}
		{% endif %}
		{% if page.sidebar_left %}
			{% if page.sidebar_first %}
				{% set sidebarClass = 'col-md-5 col-sm-5' %}
			{% endif %}
		{% endif %}

		<main role="main">
			<div class="row">

				<a id="main-content" tabindex="-1"></a>

				{% if page.sidebar_left %}
					<aside class="layout-sidebar-left col-md-3 col-sm-3" role="complementary">
						{{ page.sidebar_left }}
					</aside>
				{% endif %}

				<div class="layout-content {{ sidebarClass }}">
					{{ page.content }}
				</div>

				{% if page.sidebar_first %}
					<aside class="layout-sidebar-first col-md-3 col-sm-3" role="complementary">
						{{ page.sidebar_first }}
					</aside>
				{% endif %}


			</div>
		</main>


	</div>
	<footer role="contentinfo" class="footer">
		<div class="section-footer">
			<div class="row">
				{% if page.footer1 %}
					<div class="footer_one col-md-12 col-sm-12">
						{{ page.footer1 }}
					</div>
				{% endif %}
			</div>
		</div>
	</footer>
</div>
