<div class="logo col-md-8 col-sm-8 col-xs-12" onclick=gohome('{{path("<front>")}}');>
	<div class="shx-menu">
		<div class="shx-menu-inner">
			<div>
				{% if content %}
					{{ content }}
				{% endif %}
			</div>

		</div>
	</div>
</div>
