{#
  /**
   * @file
   * Default theme implementation to display a menu.
   *
   * Available variables:
   * - menu_name: The machine name of the menu.
   * - items: A nested list of menu items. Each menu item contains:
   *   - attributes: HTML attributes for the menu item.
   *   - below: The menu item child items.
   *   - title: The menu link title.
   *   - url: The menu link url, instance of \Drupal\Core\Url
   *   - localized_options: Menu link localized options.
   *
   * @ingroup templates
   */
  #}
  {% import _self as menus %}
  
  {#
    We call a macro which calls itself to render the full tree.
    @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
  {{ menus.menu_links(items, attributes, 0) }}
  
  {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
      {% if menu_level == 0 %}
  <ul{{ attributes.addClass('nav', 'nav-pills', 'nav-stacked') }}>
      {% else %}
      <ul{{ attributes.addClass('dropdown-menu') }}>
          {% endif %}
          {% for item in items %}
              {%
              set item_classes = [
              'expanded',
              'dropdown',
              item.in_active_trail ? 'active',
              ]
              %}
              {% if menu_level == 0 and item.is_expanded %}
              <li{{ item.attributes.addClass(item_classes) }}>
                  <a href="{{ item.url }}" class="dropdown-toggle" data-target="#" data-toggle="dropdown">{{ item.title }} <span class="caret"></span></a>
              {% else %}
                  <li{{ item.attributes.addClass(item_classes) }}>
                  {{ link(item.title, item.url) }}
              {% endif %}
              {% if item.below %}
                  {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1) }}
              {% endif %}
              </li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endmacro %}
  